.current-weather-info {
  display: flex; justify-content: center; align-items: stretch; margin: 50px 0; column-gap: 50px; padding: 0px 50px; z-index: 50;
}
.info {
  display: flex; flex-direction: column; flex: 1; justify-content: space-around; background: linear-gradient(150deg, rgb(114, 114, 16), rgb(255, 166, 0)); padding: 50px 20px; color: white; border-radius: 20px; row-gap: 40px; text-align: center; max-width: 300px;
}
.weather-icon {
  width: 150px;
}
.city-name {
  line-height: 30px; margin: 0;
}
.day-name,
.temperature {
  margin: 0; line-height: 40px;
}
.city-name {
  font-size: 18px;
}
.temperature {
  font-size: 75px; margin-top: 20px;
}
.other-info {
  display: grid; grid-template-columns: 1fr 1fr; flex: 1; max-width: 600px; background: linear-gradient(150deg, rgb(114, 114, 16), rgb(255, 166, 0)); padding: 19px 20px; text-align: center; border-radius: 20px; color: white;
  place-items: center;
}
.each-info {
  display: flex; flex-direction: column; justify-content: space-between; align-items: center; row-gap: 10px;
}
.infos {
  display: flex; align-items: center; column-gap: 10px;
}
.infos span {
  font-weight: 500;
}
.info-icon {
  width: 45px;
}
.info-name {
  font-size: 20px; margin: 0;
}
.info-value {
  font-size: 25px;
}
@media (max-width: 614px) {
  .info {
    row-gap: 0; padding: 40px 20px; min-width: 40%;
  }
  .weather-icon {
    width: 100px;
  }
  .day-name {
    font-size: 25px; 
  }
  .city-name {
    font-size: 15px; margin-top: 0;
  }
  .temperature {
    font-size: 50px; margin-top: 10px;
  }
}
@media (max-width: 512px) {
  .current-weather-info {
    flex-direction: column; row-gap: 20px; align-items: center;
  }
  .info {
    flex-direction: row; justify-content: space-between; min-width: 100%; padding: 30px 15px; column-gap: 10px; align-items: center;
  }
  .other-info {
    width: 100%; row-gap: 20px;
  }
  .each-info {
    row-gap: 0;
  }
  .each-info img {
    width: 35px;
  }
  .each-info p {
    font-size: 15px;
  }
  .each-info span {
    font-size: 20px;
  }
  .weather-icon {
    width: 80px;
  }
  .day-name {
    font-size: 20px;
  }
  .temperature {
    font-size: 40px; margin-top: 0;
  }
}
@media (max-width: 321px) {
  .info {
    width: 120%;
  }
  .other-info {
    width: 120%;
  }
  .each-info p {
    font-size: 10px;
  }
  .each-info span {
    font-size: 15px;
  }
  .each-info img {
    width: 25px;
  }
}